<VirtualHost *:80>
    ServerName mynet-116.com
    ServerAlias www.mynet-116.com
    DocumentRoot /var/nfs/www/mynet-116.com/html
    <Directory /var/nfs/www/mynet-116.com/html>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog /var/nfs/www/mynet-116.com/log/error.log
    CustomLog "| /bin/sh -c '/usr/bin/tee -a /var/log/httpd/httpd-access.log | /usr/bin/logger -thttpd -plocal1.notice'" combined
</VirtualHost>