upstream mynet-116 {
 server web-01.mynet-116.com;
 server web-02.mynet-116.com;
}

server {
  listen 80;
  server_name mynet-116.com www.mynet-116.com;
  proxy_set_header Host $http_host;
  location / {
    proxy_pass http://mynet-116;
  }
}