zone "mynet-116.com" {
    type master;
    file "/etc/named/zones/db.mynet-116.com";
};
zone "192.168.100.in-addr.arpa" {
    type master;
    file "/etc/named/zones/db.192.168.100";
    };

zone "my-site.com" {
    type master;
    file "/etc/named/zones/db.my-site.com";
};
